<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Welcome to the Trackhub-Quickload Converter</title>
    <meta name="description" content="View UCSC track hubs in IGB">
    <meta name="author" content="Loraine Lab">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="{% static 'css/style.css?v=1.3' %}">-->
    <link rel="stylesheet" href="{% static 'css/common-menu/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/trackhub-converter.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        //   Enable all tooltips
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</head>

<body>
<div id="TopMenu">
    {% include "common-menu/menu.html" %}
</div>
<div class="modal fade" id="igbNotRunningModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please start IGB</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <p>Don't have IGB? No problem!</p>
                <a type="button" class="btn btn-custom btn-danger" target="_blank" onclick="window.location=igb_url_download" style="color:white">
                    Install IGB &nbsp;&nbsp;
                    <i class="fa fa-download">
                    </i></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="main-container" class="container main-content bar">
    <div id="igb-message-board" class="toast" role="alert" data-autohide="true" data-delay="10000"
         style="position: fixed; bottom: 10px; right: 50px; z-index: 99">
        <div class="toast-header">
            <strong class="mr-auto toast-title"></strong>
            <small class="toast-small"></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">

        </div>
    </div>
    <div class="modal fade" id="unsupportedBrowserDialog" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Unsupported Web browser</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                        To open a genome in IGB, use a different Web browser: Firefox, Chrome, or Edge.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary mt-2" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <h1>Convert Track Hub URL to IGB Quickload URL</h1>
    <div class="conversion">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="title col-auto">
                    <h3>Enter hub.txt URL for a Track Hub</h3>
                </div>
                <div class="col px-0">
                    <i class="fa fa-question-circle info clickable" aria-hidden="true" data-toggle="tooltip"
                       data-trigger="click" data-placement="right" data-html="true"
                       title='Enter the web address for a UCSC track hub <i>hub.txt</i> file. Use the example below to try it out! To learn more about the track hub specification, see the <a href="https://genome.ucsc.edu/goldenpath/help/hgTrackHubHelp.html" target="_blank" rel="noopener noreferrer">UCSC documentation</a>.'></i>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <a id="helping" class="text-center link"
                       href="https://wiki.bioviz.org/confluence/display/igbman/View+UCSC+Track+Hubs+in+IGB">Need help?<i class="fa fa-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
        <form class="needs-validation converter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="input">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">URL</span>
                                </div>
                                <input type="url" class="form-control" aria-label="trackhub url"
                                       aria-describedby="basic-addon1" required>
                                <div class="invalid-feedback">
                                    Please provide a valid track hub URL. See the example below for more details.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div id="process" class="text-center">
                            <button id="submit" type="button" class="btn btn-primary">Do it</button>
                            <img class="d-none activity-indicator" src="{% static 'images/activity_indicator.gif' %}"
                                 alt="Processing request...">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="container-fluid example">
            <div class="row align-items-center">
                <div class="col-auto example-url">
                    <p>Example: <span class="url">https://hgdownload.soe.ucsc.edu/hubs/plants/hub.txt</span></p>
                </div>
                <div class="col px-0">
                    <i id="example-fill" class="fa fa-level-up clickable" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="result">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-auto title">
                    <h3>Converted Trackhub URL</h3>
                </div>
                <div class="col px-0">
                    <i class="fa fa-question-circle info clickable" aria-hidden="true" data-toggle="tooltip"
                       data-trigger="click" data-placement="right" data-html="true"
                       title="In IGB, click <i>Settings > Data Sources > Add</i>, and paste in this URL. For more information on this process, see the IGB User's Guide</a>."></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="result" class="col-9 container">
                <div class="row align-items-center">
                    <div class="col col-9 result-url col-auto">
                        <p class="url">Use the input field above to generate a Quickload URL.</p>
                    </div>
                    <div class="col copy-icon px-0">
                        <i id="copy" class="fa fa-clone clickable result-url-copy d-none" aria-hidden="true"
                           data-toggle="tooltip" data-trigger="manual" data-placement="right" data-offset="0, 5px"
                           title="Copied!"></i>
                    </div>
                </div>
                <p class="description"></p>
            </div>
            <div id="addSourceDiv" class="col-2 box-release-info d-none text-center">
                <p class="mb-1 text-align-center" style="font-size: 12px" >To add this trackhub url as data source to IGB, click on the button below</p>
                <button id="addSource" class="btn btn-sm btn-primary add-data-sources ml-2">Add to IGB</button>
            </div>
        </div>
    </div>
    <div id="footer" class="container"></div>
</div>
<script src="https://cdn.jsdelivr.net/gh/faisalman/ua-parser-js/src/ua-parser.js"></script>
<script type="module" src="{% static 'js/renderDownloadButton.js' %}"></script>
<script type="module" src="{% static 'js/manualConverter.js' %}"></script>

</body>

</html>